
= form_tag advocacy_group_session_path do
  %h1 Sign in
  %fieldset
    = label_tag 'advocacy_group[email]', 'Email'
    = text_field_tag 'advocacy_group[email]', nil, :id => 'sign_in_email'
    = label_tag 'advocacy_group[password]', 'Password'
    = password_field_tag 'advocacy_group[password]', nil, :id => 'sign_in_password'

  = submit_tag 'Sign in'