- content_for :javascript do
  = javascript_include_tag 'letter', 'jquery.wysiwyg'
- content_for :css do
  = stylesheet_link_tag 'jquery.wysiwyg'

%h1 Please choose whom you wish to write.
= simple_form_for @letter do |letter|
  = letter.input :street, :as => :hidden
  = letter.input :city, :as => :hidden
  = letter.input :state, :as => :hidden
  = letter.input :zip, :as => :hidden

  %ul
    = letter.simple_fields_for :recipients do |recipient|
      %li
        = image_tag recipient.object.bioguide_image
        = recipient.label :_destroy, recipient.object.name
        = recipient.check_box :_destroy, { :class => 'rep-choice' }, false, true
  %h2.cost

  = letter.input :body, :as => :text
