- content_for :javascript do
  = javascript_include_tag 'letter'

= simple_form_for @letter, :url => new_payment_path do |letter|
  %fieldset.legislator
    = letter.simple_fields_for :sender do |sender|
      = sender.input :street, :as => :hidden, :input_html => { :class => :preview }
      = sender.input :city, :as => :hidden, :input_html => { :class => :preview }
      = sender.input :state, :as => :hidden, :input_html => { :class => :preview }
      = sender.input :zip, :as => :hidden, :input_html => { :class => :preview }
    = hidden_field_tag 'geoloc[lat]', @geoloc.lat
    = hidden_field_tag 'geoloc[lng]', @geoloc.lng

    %ul.legislators
      = letter.simple_fields_for :recipients do |recipient|
        %li{:id => recipient.object.legislator.bioguide_id, :class => recipient.object.selected? ? 'active': nil}
          %div{:class => "bioguide #{recipient.object.css_class}", :style => "background:url('/images/#{recipient.object.legislator.bioguide_image}')"}
            = image_tag 'icons/mail.png', :class => "mail #{"selected" if recipient.object.selected?}".strip
          = recipient.label :id, recipient.object.legislator.name
          = recipient.input :legislator_id, :as => :hidden, :input_html => { :class => 'legislator_id', :disabled => !recipient.object.selected? }
      = letter.error :recipients
    
    %h2.cost= cost_to_send_letters(@letter.recipients)
    
  %fieldset
    %h1
      %label{:for => 'letter_body', :class => 'string required'}Dear Legislator,
    
    - if letter.object.campaign
      .campaign
        = letter.input :campaign_id, :as => :hidden, :input_html => { :class => :preview }
        .body= simple_format(letter.object.campaign.body)
    - else
      = letter.input :body, :as => :text, :label => false, :input_html =>  { :class => :preview }
    %div Your Constituent,
    = letter.simple_fields_for :sender do |sender|
      = sender.input :first_name, :label => false, :input_html => { :class => :preview }
      = sender.input :last_name, :label => false, :input_html => { :class => :preview }
    %div
      = letter.submit 'Send'
      #letter_preview
