- content_for :javascript do
  = javascript_include_tag 'letter'
  - unless Rails.env == 'test'
    = javascript_include_tag 'jquery.wysiwyg'
    :javascript
      $(function() {
        $('#letter_body').wysiwyg();
      });
- content_for :css do
  = stylesheet_link_tag 'jquery.wysiwyg'

%h1 Please choose whom you wish to write.
= simple_form_for @letter do |letter|
  = letter.input :street, :as => :hidden
  = letter.input :city, :as => :hidden
  = letter.input :state, :as => :hidden
  = letter.input :zip, :as => :hidden

  %ul.legislators
    = letter.simple_fields_for :recipients do |recipient|
      %li
        .bioguide
          = image_tag recipient.object.legislator.bioguide_image, :class => 'monochrome'
        = recipient.label :id, recipient.object.legislator.name
        = recipient.input :legislator_id, :as => :hidden, :input_html => { :class => 'legislator_id', :disabled => true }
  %h2.cost $0 no legislators chosen.

  = letter.input :body, :as => :text
  Sincerely,
  = letter.input :name_first, :label => 'First name'
  = letter.input :name_last, :label => 'Last name'
  = letter.submit 'Send'
