= content_for :javascript do
  -#%script{ :src => 'http://maps.google.com/maps/api/js?sensor=false', :type => 'text/javascript' }
  -#= javascript_include_tag 'search'
  = javascript_include_tag 'home'

= form_tag search_path, :id => 'address_search' do
  %div{:class => "input string required#{@address_error.present? ? ' field_with_errors' : '' }"}
    = label_tag :address, 'Please enter your home address.'
    = text_field_tag :address, params['address']
    - if @campaign
      = hidden_field_tag :campaign_id, @campaign.id
    - if @address_error.present?
      %div.error=@address_error
  %input{:type => 'submit', :value => 'Find'}

- if @campaign
  .campaign
    %h1.tag= @campaign.title
    .body= @campaign.summary
  
%h1.tag We mail letters to your legislators for a dollar each.

%div.home
  %div.video
    - unless Rails.env == 'test' || Rails.env == 'cucumber'
      %iframe{:src => "http://player.vimeo.com/video/17059317?title=0&byline=0&portrait=0", :width => "455", :height => "300", :frameborder => "0"}
  %div.text
    %p MailCongress helps you write letters to your representatives in Congress. How does it work? It&rsquo;s easy.
    %p We automatically find your representatives by your address. You submit your letter using our handy form. When you&rsquo;re done, simply pay by credit card.
    %p Your letters will be automatically printed, postage paid, at our headquarters. We mail them for you. Simple.
