- content_for :javascript do
  = javascript_include_tag 'credit_card'

= simple_form_for @payment, :url => payments_path do |payment|
  %h1.group
    %strong Billing Info
    %span= final_cost(@letter.recipients)
    
  %fieldset.billing{:class => 'slideToggle'}
    %legend= payment.error :gateway
    %div.help
      We have filled in the home address you supplied to us. If need be, please modify these fields to reflect your correct billing information.
    %div.fields
      = payment.simple_fields_for :credit_card, @payment.credit_card do |credit_card|
        = credit_card.input :first_name, :label => 'First name'
        = credit_card.input :last_name, :label => 'Last name'
    
      = payment.input :street, :label => 'Street address'
      = payment.input :city, :label => 'City'
      = payment.input :state, :label => 'State'
      = payment.input :zip, :label => 'Zipcode'
  
  %fieldset.email.group
    %div.help
      We will use your email to let you know when your message has been mailed.
    %div.fields
      = simple_fields_for @letter do |letter|
        = letter.simple_fields_for :sender do |sender|
          = sender.input :email
  
  %fieldset.credit_card
    .help
      .credit_card
        Your credit card's type will be automatically determined based upon the number.
      .paypal
        You have chosen to pay with Paypal. When you submit this form you will be redirected to Paypal to complete the purchase.
    .fields
      = payment.simple_fields_for :credit_card, @payment.credit_card do |credit_card|
        = simple_fields_for @letter do |letter|
          %ul.payment_type
            %li.credit_card
              = letter.radio_button :payment_type, :credit_card, :class => 'payment_type'
              .cards
                %label.radio{:for => 'letter_payment_type_credit_card'}
                  - %w{visa master american_express discover diners_club}.each do |card|
                    %span{:class => [card, 'card']}
            %li.paypal
              = letter.radio_button :payment_type, :paypal, :class => 'payment_type'
              .cards
                %label.radio{:for => 'letter_payment_type_paypal'}
                  %span{:class => ['paypal', 'card']}
        .slideToggle
          = credit_card.input :number, :label => 'Card number'
          .expiration
            %span Expires
            = credit_card.input :month, :as => :select, :collection => 1..12
            = credit_card.input :year, :as => :select, :collection => 0.years.from_now.year..6.years.from_now.year

  = simple_fields_for @letter do |letter|
    = letter.input :body, :as => :hidden
    = letter.input :campaign_id, :as => :hidden
    = letter.simple_fields_for :sender do |sender|
      = sender.input :first_name, :as => :hidden
      = sender.input :last_name, :as => :hidden
      = sender.input :street, :as => :hidden
      = sender.input :city, :as => :hidden
      = sender.input :state, :as => :hidden
      = sender.input :zip, :as => :hidden

    = letter.simple_fields_for :recipients do |recipient|
      = recipient.input :legislator_id, :as => :hidden

  = payment.submit 'Make secure payment'
  %img{ :src => '/images/icons/lock.png', :alt => 'Lock icon', :title => 'Payment over secure connection' }

  %div.help
    By submitting payment, you agree to the 
    %a{:href => '/terms', :target => '_blank'}
      %abbr{:title => 'Terms of Service'}
        Terms of Service
    and
    %a{:href => '/privacy', :target => '_blank'}
      %abbr{:title => 'Privacy Policy'}
        Privacy Policy
