
= simple_form_for @payment, :url => payments_path do |payment|
  %h1.group
    %strong Billing Info
    %span You will be charged $2 to send 2 letters.
    
  %fieldset.billing
    %div.help
      We have filled in the home address you supplied to us. If need be, please modify these fields to reflect your correct billing information.
    = payment.simple_fields_for :credit_card, @payment.credit_card do |credit_card|
      = credit_card.input :first_name, :label => 'First name'
      = credit_card.input :last_name, :label => 'Last name'
  
    = payment.input :street, :label => 'Street address'
    = payment.input :city, :label => 'City'
    = payment.input :state, :label => 'State'
    = payment.input :zip, :label => 'Zipcode'
  
  %fieldset.email
    = simple_fields_for @letter do |letter|
      = letter.simple_fields_for :sender do |sender|
        %div.help
          We will use your email to let you know when your message has been mailed.
        = sender.input :email
  
  %fieldset.credit_card
    = payment.error :gateway
    = payment.simple_fields_for :credit_card, @payment.credit_card do |credit_card|
      = credit_card.input :number, :label => 'Card number'
      %div.month_year
        = credit_card.input :month, :as => :select, :collection => 1..12
        = credit_card.input :year, :as => :select, :collection => 0.years.from_now.year..6.years.from_now.year
      = credit_card.input :verification_value, :label => 'CVV2'

  = simple_fields_for @letter do |letter|
    = letter.input :body, :as => :hidden
    = letter.simple_fields_for :sender do |sender|
      = sender.input :first_name, :as => :hidden
      = sender.input :last_name, :as => :hidden
      = sender.input :street, :as => :hidden
      = sender.input :city, :as => :hidden
      = sender.input :state, :as => :hidden
      = sender.input :zip, :as => :hidden

    = letter.simple_fields_for :recipients do |recipient|
      = recipient.input :legislator_id, :as => :hidden

  %div.help
    By submitting payment, you agree to the 
    %a{:href => '/tos'}
      %abbr{:title => 'Terms of Service'}
        TOS.

  = payment.submit 'Make secure payment'
  %img{ :src => '/images/icons/lock.png', :alt => 'Lock icon', :title => 'Payment over secure connection' }
