- content_for :javascript do
  = javascript_include_tag 'credit_card'

= simple_form_for @payment, :url => payments_path do |payment|
  %h1.group
    %strong Billing Info
    %span= final_cost(@letter.recipients)
    
  %fieldset.billing
    %div.help
      We have filled in the home address you supplied to us. If need be, please modify these fields to reflect your correct billing information.
    = payment.simple_fields_for :credit_card, @payment.credit_card do |credit_card|
      = credit_card.input :first_name, :label => 'First name'
      = credit_card.input :last_name, :label => 'Last name'
  
    = payment.input :street, :label => 'Street address'
    = payment.input :city, :label => 'City'
    = payment.input :state, :label => 'State'
    = payment.input :zip, :label => 'Zipcode'
  
  %fieldset.email
    = simple_fields_for @letter do |letter|
      = letter.simple_fields_for :sender do |sender|
        %div.help
          We will use your email to let you know when your message has been mailed.
        = sender.input :email
  
  %fieldset.credit_card
    .help
      Your credit card's type will be automatically determined based upon the number.
    = payment.error :gateway
    = payment.simple_fields_for :credit_card, @payment.credit_card do |credit_card|
      %ul.cards
        - %w{visa master american_express discover diners_club}.each do |card|
          %li{:class => [card, 'card']}
      = credit_card.input :number, :label => 'Card number'
      .expiration
        %span Expires
        = credit_card.input :month, :as => :select, :collection => 1..12
        = credit_card.input :year, :as => :select, :collection => 0.years.from_now.year..6.years.from_now.year

  = simple_fields_for @letter do |letter|
    = letter.input :body, :as => :hidden
    = letter.simple_fields_for :sender do |sender|
      = sender.input :first_name, :as => :hidden
      = sender.input :last_name, :as => :hidden
      = sender.input :street, :as => :hidden
      = sender.input :city, :as => :hidden
      = sender.input :state, :as => :hidden
      = sender.input :zip, :as => :hidden

    = letter.simple_fields_for :recipients do |recipient|
      = recipient.input :legislator_id, :as => :hidden

  %div.help
    By submitting payment, you agree to the 
    %a{:href => '/terms', :target => '_blank'}
      %abbr{:title => 'Terms of Service'}
        Terms of Service
    and
    %a{:href => '/privacy', :target => '_blank'}
      %abbr{:title => 'Privacy Policy'}
        Privacy Policy

  = payment.submit 'Make secure payment'
  %img{ :src => '/images/icons/lock.png', :alt => 'Lock icon', :title => 'Payment over secure connection' }
