= simple_form_for @payment, :url => payments_path do |payment|
  = payment.input :first_name, :label => 'First name'
  = payment.input :last_name, :label => 'Last name'
  = payment.input :street, :label => 'Street address'
  = payment.input :city, :label => 'City'
  = payment.input :state, :label => 'State'
  = payment.input :zip, :label => 'Zipcode'
  = payment.input :number, :label => 'Card number'
  = payment.input :month, :as => :select, :collection => 1..12
  = payment.input :year, :as => :select, :collection => 0.years.from_now.year..6.years.from_now.year
  = payment.input :verification_value, :label => 'CVV2'

  = simple_fields_for @letter do |letter|
    = letter.input :name_first, :as => :hidden
    = letter.input :name_last, :as => :hidden
    = letter.input :street, :as => :hidden
    = letter.input :city, :as => :hidden
    = letter.input :state, :as => :hidden
    = letter.input :zip, :as => :hidden
    = letter.input :body, :as => :hidden

    = letter.simple_fields_for :recipients do |recipient|
      = recipient.input :legislator_id, :as => :hidden

  = payment.submit 'Make payment'
