- unless Rails.env == 'test' || Rails.env == 'cucumber'
  - content_for :javascript do
    = javascript_include_tag 'highcharts', 'campaign'

%h1= @campaign.title

%div.summary
  = @campaign.summary

%div.body
  = @campaign.body

= campaign_permalink_url(@campaign, :protocol => 'https')

%div#chart

= link_to 'Edit', [:edit, @campaign]
