- unless Rails.env == 'test' || Rails.env == 'cucumber'
  - content_for :javascript do
    = javascript_include_tag 'highcharts', 'campaign'
    = render :partial => 'chart_data'

%h1= @campaign.title

.article
  .body
    = @campaign.body
  
.aside  
  %ul.actions
    %li= link_to campaign_permalink_url(@campaign, :protocol => 'https'), campaign_permalink_url(@campaign, :protocol => 'https')
    %li= link_to 'Edit', [:edit, @campaign]
  .summary
    %h1 Summary
    = @campaign.summary
    
#chart

.more
  = link_to '← More campaigns', '/dashboard'