- unless Rails.env == 'test' || Rails.env == 'cucumber'
  - content_for :javascript do
    = javascript_include_tag 'highcharts', 'campaign'

.article
  %h1= @campaign.title
  .summary
    = @campaign.summary
  .body
    = @campaign.body
  
.aside  
  = link_to 'Edit', [:edit, @campaign]
  = campaign_permalink_url(@campaign, :protocol => 'https')
  #chart